@import "tailwindcss";

@layer theme, base, components, utilities;

@layer theme {
  .font-outfit {
    font-family: "Outfit", sans-serif;
  }

  .font-ovo {
    font-family: "Ovo", serif;
  }

  .bg-light-hover {
    background-color: #726975;
  }

  .bg-dark-hover {
    background-color: #2a004a;
  }

  .bg-dark-theme {
    background-color: #11001F;
  }
}


@layer utilities {
  *{
    font-family:Outfit;
  }
  .mx-6 {
    margin-inline: calc(var(--spacing) * 6);
  }
  .bg-blue-500\/50 {
    background-color: color-mix(in oklab, var(--color-blue-500) 50%, transparent);
  }
}
@property --tw-gradient-from {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}